@import 'https://fonts.googleapis.com/css?family=Raleway';

*{
  box-sizing: border-box;
}

body, html{
  height: 100%;
  margin:0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color:#36373e;
  text-transform: uppercase;
}



h3{
  text-align: center;
  letter-spacing: 4px;
  color:#36373e;
  font-weight: 100;
  font-size:25px;
  padding-top: 30px;
  text-transform: uppercase;
}

hr{
 max-width: 780px;
}

p{
  color:#595a64;
  letter-spacing: .8px;
  max-width: 880px;
  margin:auto;
  line-height: 25px;

}



img {
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Content Structue */
.wrapper{
  width: 90%;
  max-width: 800px;
  min-width: 320px;
  margin: auto;
}



/*nav bar*/
header{
  background-color: #595a64;

}

.logo{
  font-size: 24px;
  font-weight: 700;
  float: left;
  letter-spacing: 2px;
  margin: 0 auto;
  color: #f2f2f2;
  text-decoration: none;
  padding-top: 10px;
}

.socialmedia{
  height: 30px;
  padding-bottom: 0px;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: -8px;
    opacity: .93;
}

ul.navbar li {float: right;}

ul.navbar li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


/*title*/

div.title{
  background: #bfeddf;
  margin-top: -10px;
}

div.title h1{
  font-size: 40px;
  font-weight: 100;
  color:#787878;
  margin-top:0px;
  padding: 30px 0px 30px 10px;
  text-align: center;
}


div.container h3 {
  line-height: 30px;
  max-width: 880px;
  margin: 0 auto;

}


div.container p{
  line-height: 30px;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}




.shortp{
  width: 330px;
  float: left;
  line-height: 35px;
  padding-top: 7px;
}

.shortimg{
  width: 55%;
}

/*footer*/
footer{
  background: #595a64;
}


.methodology p, 
.about p{
  color: #f4f4f7;
  padding-bottom: 30px;
  padding-top: 0px;
}

.methodology h3, 
.about h3{
  text-align:center;
  color: #f4f4f7;
}

.about h3{
  margin-top: 10px;
}

/* MEDIA QUERIES*/
@media screen and (max-width:818px) {

.shortp{
  width: 100%;
  line-height: 25px;
}

.shortimg{
  width: 100%;
}
  
}
